* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(90deg, rgb(55, 108, 255), rgb(190, 93, 255));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}

.content-text{
    text-align: center;
    color: white;
    font-family: bahnschrift;
}

.content-img{
    width: 1.5em;
    height: 1.5em;
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}

.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  outline-color: rgba(255, 255, 255, 0.3) !important;
}


/* Célula */
.cell {
  width: 8vw;
  height: 8vw;
  border: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell.x,
.cell.o {
  cursor: not-allowed;
}

/* Tirando a borda em volta das cells */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

/* X */
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after {
  content: "";
  height: calc(5em * 0.15);
  width: calc(5em * 0.9);
  background: white;
  position: absolute;
  border-radius: 50px;
}

.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after {
  transform: rotate(-45deg);
}

/* O */
.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after {
  content: "";
  height: calc(5em * 0.9);
  width: calc(5em * 0.9);
  position: absolute;
  background: none;
  outline: 15px solid white;
  outline-offset: -20px;
  border-radius: 50%;
}

/* Mensagem de Vitória */
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  flex-direction: column;
}

.winning-message-text {
  color: white;
  font-size: 3em;
  font-family: bahnschrift;
}

.winning-message-btn {
  font-size: 2em;
  background-color: rgb(190, 93, 255);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-top: 16px;
  color: white;
  transition: .5s;
}

.winning-message-btn:hover {
  color: rgb(190, 93, 255);
  background-color: white;
  transform: scale(1.1);
}


/* About */
.about-btn{
  font-family: bahnschrift;
  background-color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  bottom: 3vw;
  right: 2vw;
  transition: all 1s ease-in-out;
}

.about{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  transition: all 1s ease-in-out;
}

.about-content {
  height: 100%;
  width: 100%;
  background-color: rgb(32, 32, 32);
  padding: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  color: rgb(223, 223, 223);
}

.about-title{
  font-family: bahnschrift;
  color: linear-gradient(90deg, rgb(55, 108, 255), rgb(190, 93, 255));
}

.about-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.about-img{
  width: 35%;
  height: auto;
  object-fit: contain;
}

.about-text{
  font-family: bahnschrift;
  max-width: 40vw;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-rules{
  font-family: bahnschrift;
  font-size: 14px;
  max-width: 35vw;
  margin-left: 25px;
}

.about-close{
  border: none;
  padding: 10px 15px;
  background-color: linear-gradient(90deg, rgb(55, 108, 255), rgb(190, 93, 255));
  border-radius: 5px;
  cursor: pointer;
  color: black;
  font-weight: 600;
  /* position: absolute;
  bottom: 50px;
  left: 50;
  right: 50; */
}

.about-close:hover{
  transition: .5s ease-in-out;
  transform: scale(1.1);
  color: rgb(55, 108, 255);
}

.show{
  display: flex;
}

@media screen and (max-width: 900px) {
  .cell {
    width: 5em;
    height: 5em;
  }
}

@media screen and (max-width: 600px) {
  .about-section{
    flex-direction: column;
  }
  .about-img{
    width: 50vw;
  }
  .about-text{
    max-width: 100vw;
  }
  .about-rules{
    max-width: 100vw;
  }
}